@import "../../../../theme.scss";

.weatherTile {
  // border: 1px solid $colour-black;
  border-radius: $size-x-small;
  display: flex;
  flex-direction: column;
  background-color: $colour-primary-300;
  align-items: center;
  margin: $size-xx-small 0;
}

.description {
  font-size: medium;
  text-transform: capitalize;
}

.icon {
  border: 1px solid #eee;
  margin: 3px;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1 / 1;
}
