@import "../../../../theme.scss";

.carousel {
  display: flex;
  flex-direction: column;

  .weatherCarousel {
    display: flex;
    justify-content: space-between;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: $size-xx-small;
  }

  .button {
    padding: $size-xx-small $size-small;
    border-radius: $size-small;
    box-shadow: 0.15em 0.15em 0.25em;
    cursor: pointer;
  }
}
