.carousel {
  /* border: 1px solid orangered; */
  padding: 0.5rem;
}
.weatherCarousel {
  display: flex;
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.button {
  padding: 0.5em 1.5em;
  border: 1px solid black;
  border-radius: 0.25em;
  box-shadow: 0.15em 0.15em 0.25em;
  cursor: pointer;
}
