.newsTitle {
  .title {
    font-size: large;
  }
  .nameDate {
    display: flex;
    align-items: baseline;
    font-size: small;
  }

  .description {
    font-size: medium;
    margin: 3px 2px;
  }
  .readUrl {
    font-size: small;
  }
}
