@import "../../../theme.scss";

.currentWeatherContainer {
  display: flex;
  flex-direction: column;
  background-color: $colour-primary-200;
  width: $container-size-small;

  .name {
    font-size: xx-large;
    text-align: center;
  }
}
