@import "../../../../theme.scss";

.carouselTile {
  border: 1px solid #999;
  border-radius: $size-med-small;
  padding: $size-small;
  margin: $size-x-small;
  width: $container-size-small;

  box-shadow: $size-xx-small $size-xx-small $size-small;
  display: flex;
  flex-direction: column;
  background-color: $colour-primary-200;
}
