@import "./theme.scss";
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: $colour-primary-100;

  .container {
    border-radius: $size-med;
    margin: $size-med;
    padding: $size-med;
  }

  .shadowed {
    border: 1px solid $colour-primary-500;
    box-shadow: 0 $size-xx-small $size-x-small $colour-black,
      inset 0 $size-x-small $size-x-small $colour-white;
  }

  // default button styles
  button {
    background-color: $colour-primary-200;
    border: 1px solid $colour-primary-600;
    color: $colour-primary-600;
    padding: $size-x-small $size-med-small;
    border-radius: $size-x-small;
  }
  button:hover {
    background-color: $colour-primary-300;
  }
}
