@import "./theme.scss";
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2px;

  .container {
    border-radius: $size-med;
    margin: 3px;
    padding: $size-med;
    box-shadow: $size-small $size-small $size-med $colour-primary-500,
      inset 1px 0 4px $colour-primary-500;
    max-height: $container-size-large;
    max-width: $container-size-large;
  }
}
