.newsFeed {
  border: 1px solid #666;
}

.articles {
  overflow: auto;
}

.topicList {
  background-color: #ccc;
  border-radius: 2em;

  display: flex;
  align-items: center;
  min-height: 2rem;
  overflow-x: hidden;
}
.topic {
  border: 1px solid black;
  background-color: #eee;
  padding: 0 1.25rem;
  margin: 0.25rem;
  border-radius: 2em;
  box-shadow: 1px 1px 3px #666;
}
